/* Your component CSS */
.welcome-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .schemes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .scheme-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px; /* Adjust the width as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .scheme-link {
    text-decoration: none;
    color: #333;
  }
  
  .scheme-box h3 {
    margin: 0;
  }
  
  .weather_button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .weather_button:hover {
    background-color: #45a049;
  }
  .profile_button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .profile_button:hover {
    background-color: #45a049;
  }
  /* userProf.css */

/* Loader styles */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid  #45a049;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  